<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkinCreatorCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkinCreatorCS.Properties.Settings>
            <setting name="TestDemoExecutable" serializeAs="String">
                <value>C:\Users\Jose\Documents\GitHub\ClassicCalculator2\src\ClassicCalculator\win32\bin\WindowsDX\Debug\ClassicCalculator.exe</value>
            </setting>
        </SkinCreatorCS.Properties.Settings>
    </userSettings>
</configuration>